p.none {border-style: none; /* Questo comando indica il colore della tabella nel quale sono presenti i crediti del sito.*/
  background-color: rgb(29, 81, 141);
  text-align: center;
  color: white;
  text-align: center;
}

.blue_header {background-color: lightblue;
  width: 1850px;
}

table, th, td{
  border: solid 1px white;
  border-collapse: collapse;
  padding: 10px;
  }

  .riga_blu{
    background-color: rgb(78, 144, 243);
  }

  .table_s{
    background-color: rgb(144, 172, 202);
  }



.logo {
  height: 50px; 
  width: 1850px;
  background-color: rgb(111, 184, 245);
   
  
}