/* Mi sono avvalso del prezioso aiuto di w3school e di un mio compagno di corso, ho bisogno di studiare perché faccio ancora molta fatica a tirare giù il codice, mi tocca studiare con maggiore impegno!*/

/* ID */
#main-CV-photo {
    width: 200px
}

.logo {
    margin: 20px 0;
    width: 200px; /* Imposta la larghezza desiderata, ad esempio 200px */
    height: auto; /* Imposta l'altezza su 'auto' per mantenere l'aspetto originale dell'immagine */
}

.bl {
    background-color: lightblue;
    width: 1850px;
}

  #lorem {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #lorem td, #lorem th {
    border: 1px solid #1f8294;
    padding: 8px;
  }
  
  #lorem tr:nth-child(even){background-color: #f2f2f2;}
  
  #lorem tr:hover {background-color: #1f8294;}
  
  #lorem th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4f83f3;
    color: rgb(255, 255, 255);
  }

  p.none {border-style: none;
    background-color: rgb(29, 81, 141);
    text-align: center;}

    .text-white{
        color: white;
    }



